.Pagination {
    display: flex;
    justify-content: center;

    font-size: 2rem;
    background-color: #1a191f;
    padding-bottom: 30px;
    color: rgb(163, 162, 162);
}

.Pagination div {
    margin: 0 5px;
}

.number {
    font-size: 1.7rem;
    position: relative;
    top: 0.2rem;
    padding: 0 10px;
}

.arrow {
    font-weight: bold;
}

.arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.arrow_two {
    font-size: 1.8rem;
    position: relative;
    top: 0.15rem;
}

.arrow_two:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
}
